# Ignore everything in this directory
*
# Except this file
!.gitignore
!bht/*
!pos/*
!vocab/*
!example.conll
!test.conll
!eval.conll
!garden_path.conll
!garden_path_more.conll
!garden_path_final.conll